:root {
    --primary-color: #bd632f;
    --secondary-color: #d8973c;
    --neutral-color: #d8c99b;
    --neutral-dark: #273e47;
    --accent-color: #a4243b;
}

.container{
    background-color: var(--neutral-dark);
}

h1, h2 {
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color)
}

p {
    color: var(--neutral-color)
}

circle {
    width: 100px; 
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}